section.content
	.content-box
		each video in videos
			.video-box.col-sm-4.col-xs-12
				a(href='/video/#{video._id}')
					img.img-rounded.img-responsive(src='#{video.img}')
				div.video-t 
					a(href='/video/#{video._id}') !{video.title}
				div.video-i
					span.vote
						a.glyphicon.glyphicon-thumbs-up 
						span !{video.voteCount}
					span.v-date !{video.publishDate}
		if count && count>1
			- var i=0
			ul.page-box
				while i < count
					li
						a(href='/hot/#{++i}') !{i}
				li(style='clear:both')
